# committers mailmap file to group on same developer emails (git shortlog -nse)

Daniel-Constantin Mierla <miconda@gmail.com> <miconda@gmail.com>
Daniel-Constantin Mierla <miconda@gmail.com> <daniel@voice-system.ro>
