# committers mailmap file to group on same developer emails (git shortlog -nse)

Daniel-Constantin Mierla <miconda@gmail.com> <miconda@gmail.com>
Daniel-Constantin Mierla <miconda@gmail.com> <daniel@voice-system.ro>

Elena-Ramona Modroiu <ramona@asipto.com> <ramona@rosdev.ro>
Elena-Ramona Modroiu <ramona@asipto.com> <ramona@voice-system.ro>
Elena-Ramona Modroiu <ramona@asipto.com> <anomarme@gmail.com>
Elena-Ramona Modroiu <ramona@asipto.com> <anomarme@users.noreply.github.com>
Elena-Ramona Modroiu <ramona@asipto.com> <anomarme@yahoo.com>

Victor Seva <linuxmaniac@torreviejawireless.org> <vseva@sipwork.pro>
Victor Seva <linuxmaniac@torreviejawireless.org> <vseva@sipwise.com>
