[Unit]
Description=Kamailio (OpenSER) - the Open Source SIP Server
Documentation=man:kamailio(8) https://www.kamailio.org/
Wants=network-online.target
After=syslog.target network-online.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/kamailio
PIDFile=/var/run/kamailio.pid
ExecStart=/usr/sbin/kamailio -P /var/run/kamailio.pid $OPTIONS
ExecStopPost=/usr/bin/rm -f /var/run/kamailio.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
