#!/bin/sh -e

. /usr/share/debconf/confmodule

# configure ?
db_input medium ser-oob/config || true
db_go

db_get ser-oob/config

if [ "$RET" = "false" ]; then
  exit 0
fi

db_input medium ser-oob/LISTEN || true
db_go

db_input medium ser-oob/ADMINADDR || true
db_go

db_input medium ser-oob/DBURL || true
db_go

db_input medium ser-oob/AUTHSECRET || true
db_go

db_input medium ser-oob/RTTPPROXY || true
db_go

db_input medium ser-oob/NATPING_INTERVAL || true
db_go

