#
# $Id$
#
# example script showing use of nathelper module 
# (incomplete for sake of brevity)
#

# ----------- global configuration parameters ------------------------

# debugging mode
debug=3          
fork=no
log_stderror=yes

# ------------------ module loading ----------------------------------

loadmodule "modules/nathelper/nathelper.so"
loadmodule "modules/textops/textops.so"
loadmodule "modules/tm/tm.so"
loadmodule "modules/rr/rr.so"


# ------------------ request-routing script --------------------------

# main routing logic

route{

	# compulsory processing of Route header fields and adding RR
	loose_route();
	if (method=="INVITE") record_route();

	# ATA's are symmetric but don't advertise it -- force use of rport 
	if (search("User-Agent: Cisco ATA.*")) force_rport();

	/* registration stuff stripped ... */

	/* set up reply processing and forward statefuly */
	t_on_reply("1");
	t_relay();
}

# all incoming replies for t_onrepli-ed transactions enter here
onreply_route[1] {
	if (status=~"2[0-9][0-9]" && search("Server: Cisco ATA.*"))
		fix_nated_contact();
}
