#
# Minimalistic SER configuration file that can be used to
# test the pdt module.
#
debug = 4
fork = no
children = 1
log_stderror = yes
listen=127.0.0.1

loadpath "./modules"

loadmodule "mysql"
loadmodule "sl"
loadmodule "pdt"

modparam("pdt", "db_url", "mysql://ser:heslo@localhost/ser")

route {
	prefix2domain();
	forward(uri:host, uri:port);
	break;
}
