# $Id$
# sample config file for dispatcher module
#

debug=9          # debug level (cmd line: -dddddddddd)
fork=no
log_stderror=yes  # (cmd line: -E)

children=2
check_via=no      # (cmd. line: -v)
dns=off           # (cmd. line: -r)
rev_dns=off       # (cmd. line: -R)
port=5060

# for more info: sip_router -h

# ------------------ module loading ----------------------------------
mpath="/usr/local/lib/kamailio/modules/"
loadmodule "maxfwd.so"
loadmodule "sl.so"
loadmodule "dispatcher.so"
loadmodule "tm.so"

# ----------------- setting module-specific parameters ---------------

# -- dispatcher params --
modparam("dispatcher", "list_file", "/usr/local/etc/kamailio/dispatcher.list")
modparam("dispatcher", "flags", 2)
modparam("dispatcher", "dst_avp", "$avp(AVP_DST)")
modparam("dispatcher", "grp_avp", "$avp(AVP_GRP)")
modparam("dispatcher", "cnt_avp", "$avp(AVP_CNT)")

# main request routing block
route {
	if ( !mf_process_maxfwd_header("10") )
	{
	 	sl_send_reply("483","To Many Hops");
		exit;
	}

	# select from first dst group by round-robin
	if(!ds_select_dst("1", "4"))
	{
		sl_send_reply("500", "No destination available");
		exit;
	}

	t_on_failure("RTF_DISPATCH");
	if(!t_relay())
	{
		sl_reply_error();
		exit;
	}
}

# dispatcher failure routing block
failure_route[RTF_DISPATCH] {
	if (t_is_canceled()) {
		exit;
	}
	# select next destination only for local timeout
	if (t_branch_timeout() &amp;&amp; !t_branch_replied())
	{
		if(ds_next_dst())
		{
			t_on_failure("RTF_DISPATCH");
			t_relay();
			exit;
		}
	}
}
