Source: openser
Section: net
Priority: optional
Maintainer: Debian VoIP Team <pkg-voip-maintainers@lists.alioth.debian.org>
Uploaders: Julien BLACHE <jblache@debian.org>, Kilian Krause <kilian@debian.org>
Build-Depends: debhelper (>= 5), dpatch, libmysqlclient15-dev, libexpat1-dev, libxml2-dev, libpq-dev, libradiusclient-ng-dev, flex, bison, zlib1g-dev, unixodbc-dev, libxmlrpc-c3-dev, libperl-dev, libsnmp-dev, dpkg-dev (>= 1.13.19), libdb4.4-dev , xsltproc, libconfuse-dev, libldap2-dev, libcurl3-gnutls-dev
Standards-Version: 3.7.2

Package: openser
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Suggests: openser-mysql-module, openser-postgres-module, openser-unixodbc-module, openser-jabber-module, openser-cpl-module, openser-radius-modules, openser-presence-modules, openser-xmlrpc-module, openser-perl-modules, openser-snmpstats-module, openser-xmpp-module, openser-carrierroute-module, openser-berkeley-module, openser-ldap-modules
Description: very fast and configurable SIP proxy
 OpenSER is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, OpenSER can handle thousands calls
 per second even on low-budget hardware.
 .
 C Shell-like scripting language provides full control over the server's
 behaviour. Its modular architecture allows only required functionality to be
 loaded.
 .
 Among others, the following modules are available: Digest Authentication, CPL
 scripts, Instant Messaging, MySQL support, Presence Agent, Radius
 Authentication, Record Routing, SMS Gateway, Jabber/XMPP Gateway, Transaction
 Module, Registrar and User Location, XMLRPC Interface.
 .
 This package contains the main OpenSER binary along with the principal modules
 and support binaries.

Package: openser-dbg
Priority: extra
Architecture: any
Depends: openser (= ${binary:Version})
Conflicts: openser (<< ${binary:Version})
Description: very fast and configurable SIP proxy [debug symbols]
 OpenSER is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, OpenSER can handle thousands calls
 per second even on low-budget hardware.
 .
 This package contains the debugging symbols for the OpenSER binaries and
 modules. You only need to install it if you need to debug OpenSER.

Package: openser-mysql-module
Architecture: any
Depends: ${shlibs:Depends}, openser (= ${binary:Version}), mysql-client
Description: MySQL database connectivity module for OpenSER
 OpenSER is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, OpenSER can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the MySQL database driver for OpenSER.

Package: openser-postgres-module
Architecture: any
Depends: ${shlibs:Depends}, openser (= ${binary:Version}), postgresql-client
Description: PostgreSQL database connectivity module for OpenSER
 OpenSER is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, OpenSER can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the PostgreSQL database driver for OpenSER.

Package: openser-jabber-module
Architecture: any
Depends: ${shlibs:Depends}, openser (= ${binary:Version})
Description: Jabber gateway module for OpenSER
 OpenSER is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, OpenSER can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the SIP to Jabber translator module for OpenSER.

Package: openser-cpl-module
Architecture: any
Depends: ${shlibs:Depends}, openser (= ${binary:Version})
Description: CPL module (CPL interpreter engine) for OpenSER
 OpenSER is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, OpenSER can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides a CPL (Call Processing Language) interpreter for
 OpenSER, turning OpenSER into a CPL server (storage and interpreter).

Package: openser-radius-modules
Architecture: any
Depends: ${shlibs:Depends}, openser (= ${binary:Version})
Description: radius modules for OpenSER
 OpenSER is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, OpenSER can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides a set of Radius modules for OpenSER, for
 authentication, group membership and messages URIs checking against a
 Radius Server.

Package: openser-unixodbc-module 
Architecture: any 
Depends: ${shlibs:Depends}, openser (= ${binary:Version})
Description: unixODBC database connectivity module for OpenSER 
 OpenSER is a very fast and flexible SIP (RFC3261) 
 proxy server. Written entirely in C, OpenSER can handle thousands calls 
 per second even on low-budget hardware. 
 . 
 This package provides the unixODBC database driver for OpenSER. 

Package: openser-presence-modules
Architecture: any
Depends: ${shlibs:Depends}, openser (= ${binary:Version})
Description: SIMPLE presence modules for OpenSER
 OpenSER is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, OpenSER can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides several OpenSER modules for implementing presence
 server and presence user agent for RICH presence, registrar-based presence,
 external triggered presence and XCAP support.

Package: openser-xmlrpc-module
Architecture: any
Depends: ${shlibs:Depends}, openser (= ${binary:Version})
Description: XMLRPC support for OpenSER's Management Interface
 OpenSER is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, OpenSER can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the XMLRPC transport implementation for OpenSER's
 Management Interface.

Package: openser-perl-modules
Architecture: any
Depends: ${shlibs:Depends}, openser (= ${binary:Version})
Replaces: openser-perl-module
Conflicts: openser-perl-module
Description: Perl extensions and database driver for OpenSER
 OpenSER is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, OpenSER can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides an interface for OpenSER to write Perl extensions and
 the perlvdb database driver for OpenSER.

Package: openser-snmpstats-module
Architecture: any
Depends: ${shlibs:Depends}, openser (= ${binary:Version}), snmpd
Description: SNMP AgentX subagent module for OpenSER
 OpenSER is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, OpenSER can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the snmpstats module for OpenSER. This module acts
 as an AgentX subagent which connects to a master agent.

Package: openser-xmpp-module
Architecture: any
Depends: ${shlibs:Depends}, openser (= ${binary:Version})
Description: XMPP gateway module for OpenSER
 OpenSER is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, OpenSER can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the SIP to XMPP IM translator module for OpenSER.

Package: openser-carrierroute-module
Architecture: any
Depends: ${shlibs:Depends}, openser (= ${binary:Version})
Description: Carrierroute module for OpenSER
 OpenSER is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, OpenSER can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the carrierroute module for OpenSER, an integrated
 solution for routing, balancing and blacklisting.

Package: openser-berkeley-module
Architecture: any
Depends: ${shlibs:Depends}, openser (= ${binary:Version}), db4.4-util
Description: Berkeley Database module for OpenSER
 OpenSER is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, OpenSER can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the berkeley database module for OpenSER, a
 high-performance embedded DB kernel. All database tables are stored
 in files, no additional server is necessary.

Package: openser-ldap-modules
Architecture: any
Depends: ${shlibs:Depends}, openser (= ${binary:Version})
Description: LDAP modules for OpenSER
 OpenSER is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, OpenSER can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the ldap and h350 modules for OpenSER, enabling LDAP
 queries from the OpenSER config and storage of SIP account data in an LDAP
 directory.
