/* Inspired by docbook.css from Phorum.org */
body {
    font-family: arial,helvetica,sans-serif;
    color: #345;
    line-height: 1.3em;
    padding: 20px;
    margin: 10px 50px 10px 50px;
}

a:link,a:visited,a:active {
    color: #3D6F3D;
}
a:hover {
    color: #5C5CA6;
}
h1,h2,h3,h4 {
    color: black;
    padding-top: 20px;
}
h1 {
    border: 3px solid black;
    padding: 5px;
    background-color: #ccf;
    color: black;
}

h2.title {
	border: 3px solid black;
	padding: 8px;
	background-color: #ccf;
	color: black;
}

h3.title {
    border: 2px solid black;
    padding: 5px;
    background-color: #ccf;
    color: black;
}

h3.author {
    font-size: 20px;
    padding-top: 0px;
}

h4.title {
	margin: 15px;
	padding: 2px;
	background-color: #ddd;
	color: black;
	font-size: 20px;
}

.programlisting {
    background-color: #f5f5f5;
    border: 1px solid black;
    padding: 10px;
    margin: 5px 40px;
}

.screen {
    background-color: #f5f5f5;
    color: black;
    border: 1px solid black;
    padding: 10px;
    margin: 5px 40px;
}
.screen .literal {
    font-size: inherit;
    color: darkgreen;
}

p {
    padding-left: 30px;
}

.itemizedlist {
    margin-left: 30px;
}

li p {
    padding: 0px;
}

.copyright,.toc {
    padding-left: 0px;
}

.toc {
    color: black;
}
.toc p,
.list-of-examples p {
    padding-left: 0px;
}

.example .title {
    font-size: 14px;
    margin: 0px;
}

.variablelist .term {
    font-weight: bold;
    padding-left: 40px;
}


.filename {
    white-space: nowrap;
    font-size: 16px;
    color: darkred;
}

.literal {
    white-space: nowrap;
    font-size: 16px;
    color: darkblue;
}

.note {
    border: 1px solid #ddd;
    padding: 15px;
    padding-left: 70px;
	/*
    background-image: url(&quot;images/note.png&quot;);
    background-position: 10px 15px;
    background-repeat: no-repeat;
	*/
}
.note h3 {
    padding: 0px 0px 10px 0px;
    margin: 0px;
    color: black;
}

.important {
    border: 1px solid #ddd;
    padding: 15px;
    padding-left: 70px;
	/*
    background-image: url(&quot;images/important.gif&quot;);
    background-position: 10px 15px;
    background-repeat: no-repeat;
	*/
}
.important h3 {
    padding: 0px 0px 10px 0px;
    margin: 0px;
    color: black;
}
.important p {
    padding: 0px;
    margin: 0px;
}
.important .programlisting {
    margin: 10px 0px 10px 0px;
}

.remark {
    background-color: darkred;
    color: white;
    border: 1px solid black;
    padding: 5px;
    margin: 10px 10px 10px 0px;
    display: block; /* Change to &quot;none&quot; in production */
}

.navheader th,td,tr {
	background-color: #D5D0D2;
	font-size: 18px;
	padding: 5px;
	margin: 40px 40px 40px 40px;
	display: block;
	border: 1px solid black;
}

.revhistory th,td,tr {
    background-color: #f5f5f5;
    font-size: 10px;    
    padding: 5px;
    margin: 40px 40px 40px 40px;
    display: block;
}

.varname {
	padding: 0px 0px 10px 0px;
	margin: 0px;
	color: black;
	font-style: italic;
	font-size: x-small;
}
