#
# $Id$
#
# simple quick-start config script
#

# ----------- global configuration parameters ------------------------

debug=5		        # debug level (cmd line: -dddddddddd)
fork=no

log_stderror=yes	# (cmd line: -E)
check_via=no		# (cmd. line: -v)
dns=no			# (cmd. line: -r)
rev_dns=no		# (cmd. line: -R)
port=5070
children=4
fifo="/tmp/ser_fifo"

# ------------------ module loading ----------------------------------

loadmodule "modules/mysql/mysql.so"
	    
loadmodule "modules/sl/sl.so"
loadmodule "modules/print/print.so"
loadmodule "modules/tm/tm.so"
loadmodule "modules/maxfwd/maxfwd.so"
loadmodule "modules/rr/rr.so"
loadmodule "modules/textops/textops.so"
	    
loadmodule "modules/vm/vm_mod.so"
	    
# ----------------- setting module-specific parameters ---------------

#modparam("usrloc", "db_mode",   0)
modparam("voicemail", "db_url","sql://ser:heslo@localhost/ser")
# -------------------------  request routing logic -------------------

# main routing logic

route{

	# initial sanity checks -- messages with
	# max_forwars==0, or excessively long requests
	if (!mf_process_maxfwd_header("10")) {
		sl_send_reply("483","Too Many Hops");
		break;
	};
	if (len_gt( max_len )) {
		sl_send_reply("513", "Message too big");
		break;
	};

	# we record-route all messages -- to make sure that
	# subsequent messages will go through our proxy; that's
	# particularly good if upstream and downstream entities
	# use different transport protocol
	record_route();	
	# loose-route processing
	loose_route();

	# Make MSN Messenger happy... 
	if (method=="REGISTER") {
		sl_send_reply("200","ok");
		break;
	};

	if (uri=~"sip:.*@192.168.0.1") {

		# Voicemail specific configuration - begin

		if(method=="ACK" || method=="INVITE" || method=="BYE"){

			if(t_newtran()){

				t_reply("100","Trying -- just wait a minute !");

				if(method=="INVITE"){
					log("#### vm_start - begin ####\n");
					if(!vm("/tmp/am_fifo","invite")){
						log("could not contact the answer machine\n");
						t_reply("500","could not contact the answer machine");
					};
					log("#### vm_start - end ####\n");
					break;
				};

				if(method=="BYE"){
					log("#### vm_stop - begin ####\n");
					if(!vm("/tmp/am_fifo","bye")){
						log("could not contact the answer machine\n");
						t_reply("500","could not contact the answer machine");
					};
					log("#### vm_stop - end ####\n");
					break;
				};
			}
			else {
			     log("!!! error while creating new transaction !!!\n");
			     sl_send_reply("500","could not create new transaction");
			};
		};

		# Voicemail specific configuration - end

	};

}










