#commentsContainer {
	font-family: 'Lucida sans Unicode', Arial, Verdana;
	clear: both;
	margin: 7px;
}

#comments {
	font-size: 12px;
	border: 1px solid #eee;
	border-bottom: 1px solid #ddd;
	color: #444;
	float:left;
	width: 100%;
	padding: 5px 5px 5px 0;
	vertical-align: middle;
	background-image: url('../img/icon_comment24x24.png');
	background-position: 10px 50%;
	background-repeat: no-repeat;
	background-color: #fbfbfb;
	box-shadow:0px 2px 3px #eee;
}
div.cmTitle{
	float:left; 	
	padding: 5px 0 5px 0;
	margin: 0;
	right: 15px;	
}

#comments #userAccount {
	padding: 5px 0 5px 0;
	margin: 0;
	right: 15px;
	float:right;
	display: inline-block;
	
}
#commentsContainer input{
	margin: 5px 0 0 0 ;
}
ul.commentStyle {
	list-style: none;
	padding: 0
}

ul.commentStyle li {
	clear: both;
	padding: 0;
	margin-left: 5px;
}

ul.commentStyle li ul.commentStyle li {
	margin-left: 30px;
	border-top: 0px solid #eee;
}

ul.commentStyle li:first-child {
	border-top: 1px solid #eee;
	background-color: #fff;
}

ul.commentStyle li div.content {
	clear: both;
	padding: 0px 7px 5px 15px;
	margin: 0;
}

div.liContent {
	padding: 10px 0 5px 0;
	border-bottom: 1px solid #eee;
}

div.liContent div.liContent {
	padding-left: 165px;
}

div.liContent:hover,div.suspended:hover {
	/*	background-color: lightyellow;*/
	background-color: #F9FEFF;
}

.liContent .head {
	width: 97%;
	padding: 0px 0 0px 10px;
	display: inline-block;
	float: left;
	/*/Only for IE7 & IE8
    padding:0px 0 0px 10px\9; */
}

.minus,.plus {
	background-image: url('../img/expand.png');
	background-repeat: no-repeat;
	padding: 0px 5px 5px 5px;
	width: 10px;
	height: 10px;
	background-position: -16px 0;
	margin-top: 2px;
	margin-right: 7px;
	cursor: pointer;
	float: left;
}

.plus {
	background-position: 0 0;
}

.minus {
	background-position: -16px 0;
}

div.name {
	float: left;
	padding:0px 0 10px 0;
  color: #667799;
  font-weight:bold
}

div.date {
	font-size: 0.8em;
	padding-left: 17px;
	float: right;
	color: #555;
}

div.version {
	font-size: 0.9em;
	padding-left: 10px;
	float: right;
	color: #444;
	vertical-align: middle;
}
div.product {
	font-size: 0.9em;
	padding-left: 10px;
	float: right;
	color: #444;
	vertical-align: middle;
}

.bt_admin {
	display: inline-block;
	float: right;
	width: 300px;
}

.commentState {
	color: #444;
	float: left;
	font-size: 0.8em;
	width: 60px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	margin-left: 7px;
}

.level {
	padding: 0 10px 0 10px;
}

.actions {
	width: 210px;
	border-left: 1px solid #eee;
	float: right;
}

.bt_edit,.bt_approve,.bt_suspend,.bt_delete{
	padding: 2px 4px 2px 4px;
	width: 50px;
	background-color: #fff;
	border-radius: 5px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
	margin-left: 10px;
	font-size: 0.9em;
	box-shadow: 0px 1px 5px #ddd;
	float: right;
  border:1px solid #ddd;
	color:#555;
}

.bt_edit:hover,.bt_approve:hover,.bt_suspend:hover,.bt_delete:hover {
  color:#000;
	background-color: #E1F1FF;
}

#oldComments {
	clear: both;
}

#bt_new {
	clear: both;
	margin-top:10px;
	padding: 10px 0 15px 0px;
	position: relative;
	display: inline-block;
	width: 100%
}

.bt_new,#bt_approveAll {
	float: left;
	background-color: #fdfdfd;
	cursor: pointer;
	font-size: 0.8em;
	color: #444;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	min-width: 60px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0px 1px 7px #ddd;
}

.bt_new:hover {
	background-color: #eee /*color: #336699;*/
}

.bt_reply {
	color: #336699;
	font-size: 0.9em;
	margin:auto;
	float:inherit;
}

.bt_reply:hover {
	cursor: pointer;
}
/*
#preload {
	width: 30%;
	position: absolute;
	clear: both;
	background-color: #fff;
	padding-left: 15px;
	border-radius: 7px;
	border: 1px solid #ccc;
	border-top: 0;
	float: none;
	box-shadow: 1px 1px 10px #999;
	top: 50%;
	left: 50%;
	margin-top: -15%; 
	margin-left: -15%; 
	z-index: 100;
	vertical-align: top;
	text-align: center;
	padding-top: 50px;
	height: 127px;
}
*/
#loginResponse {
	color: red;
	font-style: italic
}

.bt_toolbar,#accountInfo a,#userAccount #bt_logIn,#userAccount #bt_logOff,#userAccount #bt_editProfile
	{
	background-color: #DFF1FF;
	cursor: pointer;
	font-size: 0.8em;
	color: #333;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	min-width: 60px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 0;
	margin-left: 10px;
	box-shadow: 1px 1px 7px #ddd;
}

.bt_toolbar:hover,#accountInfo a:hover,#userAccount #bt_logIn:hover,#userAccount #bt_logOff:hover,#userAccount #bt_editProfile:hover
	{
	background-color: #CCE8FF;
}

#u_Profile {
	clear: both;
	position: relative;
	background-color: #fff;
	padding-left: 15px;
	border-radius: 7px;
	border: 1px solid #ccc;
	border-top: 0;
	float: none;
	width: 300px;
	box-shadow: 1px 1px 10px #999;
	margin-top: 14px;
	z-index: 100;
}

#u_Profile form {
	margin-bottom: 15px;
}

#u_Profile table {
	font-size: 1em;
	width: 100%;
	padding: 2%;
}

#u_Profile table thead td {
	font-size: 1.2em
}

#u_Profile table td:FIRST-CHILD {
	width: 55%;
}

#u_Profile table#u_notification {
	margin: 0;
	padding: 0
}

#u_Profile table#u_notification td:FIRST-CHILD {
	width: 75%;
}

.u_response {
	color: #cc0000
}

.btnHGlue{
	display: inline-block; 
	width:30px;
	height:10px;
}
.btn,.bt_cancel,#l_bt_submit_nc,#bt_recover,#bt_signUp,#logIn,#l_bt_submit_log,#bt_passwd,.span_bt,#bt_profile,#bt_close
	{
	background-color: #F9F9F9;
	border:1px solid #ddd;
	border-radius: 5px;
	box-shadow: 1px 1px 3px #ddd;
	min-width: 60px;
	color: #444;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
	padding: 6px 10px 6px 10px;
	margin-top: 15px;
	display: inline-block;
	font-size: 0.9em;
  font-style:normal;
	text-align: center;
}

.btn:HOVER,.bt_cancel:hover,#l_bt_submit_nc:hover,#bt_recover:hover,#bt_signUp:hover,#logIn:hover,#l_bt_submit_log:hover,.span_bt:hover,#bt_passwd:hover,#bt_profile:hover, #bt_close:hover
	{
	color:#000;
	border:1px solid #ccc;
	background-color: #E1F1FF;
	box-shadow: 1px 1px 3px #ddd;
}

#commentsContainer div,#commentsContainer span {
	line-height: normal;
}
#o_captcha .realperson-text{
	line-height: 3px;;
}

#cm_count, #preload {
	margin-left: 35px;
}

#cm_count,#cm_title {
	font-weight: bold;
	font-size: 1.2em;
	padding-left: 5px;
}

/*	Log In data */
#loginData,#recoverPwd,#signUp {
	width: 350px;
	position: absolute;
	clear: both;
	background-color: #fff;
	border-radius: 7px;
	border: 1px solid #ccc;	
	float: left;
	padding: 10px;
	box-shadow: 1px 1px 10px #999;
	top: 20%;
	left: 50%;
	margin-top: -15%; /*set to a negative number 1/2 of your height*/
	margin-left: -25%; /*set to a negative number 1/2 of your width*/
	z-index: 100;
}

#signUp {
	width: 350px;
}

.login {
	font-size: 1em;
	width: 96%;
	padding: 2%;
}

.login thead td {
	font-size: 1.2em;
	font-weight: bold;
}

.login td:FIRST-CHILD {
	width: 50%
}

.loginAlternative {
	width: 93%;
	/*padding: 10px;*/
}

.loginAlternative span {
	padding: 0px 5px 10px 5px;
	margin: 0
}

.loginAlternative span:hover {
	color: #cc0000;
	cursor: pointer;
}

#link_lostPwd {
	float: left;
	color: #336699;
}

#link_signUp {
	float: right;
	color: #336699;
}
/*	/ Log In data */
#signUp table thead td {
  text-align:left;
	font-size: 1.2em;
	font-weight: bold;
}
#signUp #signUpResponse{
  padding:15px 0 10px 0;
  font-size:0.9em;
  font-weight:normal;  
}

#signUp #signUpResponse #bt_close{
  font-size:0.8em;
  font-style:normal;
  font-weight:normal;
  margin-left:auto;
  margin-right:auto;
  display:inherit;
  text-align: center;
  width:100px;  
}

#signUp table td:FIRST-CHILD {
	width: 45%
}

.inputTable {
	width: 180px;
}

#signUp table {
	font-size: 1em;
	width: 100%;
}

/*	/ Sign up Form */
#recoverPwd table thead td {
	font-size: 1.2em;
}

#recoverPwd table td:FIRST-CHILD {
	width: 45%
}

#recoverPwd table {
	font-size: 1em;
	width: 100%;
}

#userAccount #recoverPwd {
	position: absolute;
	margin-top: 7px;
	right: 10px;
}
/*	/ Lost Password Form */

/* Insert new comment */
#newComment {
	width: 96%;
	margin: 10px;
	padding: 10px;
	font-size: 1em;
	vertical-align: bottom;
}

#newComment form {
	padding: 0;
	margin: 0
}

#commentTitle {
	padding-bottom: 4px;
	display: inline-block;
	font-weight:bold;
	color:#444
}

/* Close button */
.bt_close {
	clear: both;
	background-image: url("../img/close.png");
	background-repeat: no-repeat;
	/*background-position:5px 5px;*/
	position: relative;
	cursor: pointer;
	width: 20px;
	height: 20px;
	padding: 0px 4px 0 4px;
	text-align: center;
	float: right;
	margin-top: 10px;
}

.bt_close:HOVER {
	background-image: url("../img/close_hover.png");
}

#newComment .bt_close {
	margin: 0px;
}
/* / Close button */
#u_Profile {
	clear: both;
	float: right;
	position: absolute;
	width: 500px;
	right: 10px;
	margin-top: 35px;
	z-index: 100;
}

#preload img {
  padding: 0px 5px 0px 5px;
  margin-bottom:0px;
}

.red {
	color: #cc0000
}

div.suspended {
	background-color: white;
}

.moderationInfo {
	margin: 0;
	padding: 0px 0px 0px 20px;
	color: #cc0000;
	text-shadow:0 1px 0 #fff;
}

.mustBeModerate {
	background-color: #E8F0F7;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px
}

/* ADMIN */
#cm_title span {
	padding: 8px
}

#approveAll {
	position: absolute;
	right: 0;
}

#bt_approveAll {
	background-color: #eee;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
}

#bt_approveAll:hover {
	background-color: #98C1D6;
	text-shadow: 0 1px 0 #ddd;
}

#showConfirmApproveAll {
	right: 20px;
	position: absolute;
	background-color: #fcfcfc;
	border: 1px solid #ccc;
	min-width: 150px;
	box-shadow: 1px 1px 15px #555;
	padding: 15px;
	margin-top: 25px;
	width: 250px;
	text-align: center;
}


#confirmDelete {
	right: 20px;
	position: absolute;
	background-color: #fcfcfc;
	border: 1px solid #ccc;
	min-width: 150px;
	box-shadow: 1px 1px 15px #555;
	padding: 15px;
	margin-top: 25px
}

#confirmActions {
	text-align: center;
	padding: 10px;
	margin-top: 20px;
}

#confirmDelete #commentToDelete {
	text-align: left;
	padding: 10px;
	border: 1px solid #ccc;
	background-color: #fff;
	margin: 5px
}

#confirmActions span {
	text-align: center;
	padding: 4px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 25px;
	margin: 40px;
	cursor: pointer
}

.cleditorMain {
	border: 1px solid #bbb;
	padding: 0 1px 1px;
	background-color: #fff;
}

.cleditorMain iframe {
	border: none;
	margin: 0;
	padding: 0
}

.cleditorMain textarea {
	border: none;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	font: 10pt Arial, Verdana;
	resize: none;
	outline: none /* webkit grip focus */
}

.cleditorToolbar {
	background: url('../img/toolbar.gif') repeat
}

.cleditorGroup {
	float: left;
	height: 26px
}

.cleditorButton {
	float: left;
	width: 24px;
	height: 24px;
	margin: 1px 0 1px 0;
	background: url('../img/buttons.gif')
}

.cleditorDisabled {
	opacity: 0.3;
	filter: alpha(opacity =   30)
}

.cleditorDivider {
	float: left;
	width: 1px;
	height: 23px;
	margin: 1px 0 1px 0;
	background: #CCC
}

.cleditorPopup {
	border: solid 1px #999;
	background-color: white;
	position: absolute;
	font: 10pt Arial, Verdana;
	cursor: default;
	z-index: 10000
}

.cleditorList div {
	padding: 2px 4px 2px 4px
}

.cleditorList p,.cleditorList h1,.cleditorList h2,.cleditorList h3,.cleditorList h4,.cleditorList h5,.cleditorList h6,.cleditorList font
	{
	padding: 0;
	margin: 0;
	background-color: Transparent
}

.cleditorColor {
	width: 150px;
	padding: 1px 0 0 1px
}

.cleditorColor div {
	float: left;
	width: 14px;
	height: 14px;
	margin: 0 1px 1px 0
}

.cleditorPrompt {
	background-color: #F6F7F9;
	padding: 4px;
	font-size: 8.5pt
}

.cleditorPrompt input,.cleditorPrompt textarea {
	font: 8.5pt Arial, Verdana;
}

.cleditorMsg {
	background-color: #FDFCEE;
	width: 150px;
	padding: 4px;
	font-size: 8.5pt
}

.textError {
	color: red;
	font-weight: bold;
}

.textInfo {
	color: yellow;
	font-weight: normal;
}

#adminMenu {
	clear: both;
	float: right;
	padding: 5px 0 5px 0;
	margin: 0;
	right: 15px;
	display: inline-block;		
}

#adminMenu .span_bt {
	float: right;
	margin-right: 20px;
}

.formTitle {
	height: 30px;
	font-weight: bold;
	font-size: 1.2em;
	float: left;
	padding: 10px 10px 10px 10px;
}
#loginData input, #recoverPwd input,#signUp input{
	line-height: 18px;
	margin: 10px 0 0 0;
}

.v_true,.v_false {
	padding: 3px 5px 3px 5px;
	width: 30px;
	height: 20px;
	background-color: #eee;
	border-radius: 5px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
	font-size: 1em;
	box-shadow: 0px 1px 2px #999;
	float: left;
	margin-top: 15px;
	margin-left: 10px;
}

.versionTimeLine {
	float: left;
	width: 56px;
	background-image: url('../img/timeVersion.png');
	background-position: 50% 0px;
	background-repeat: no-repeat;
	margin-bottom: 10px;
}

.v_true:hover,.v_false:hover {
	background-color: #98C1D6;
	text-shadow: 0 1px 0 #ddd;
	margin-left: 10px;
}

.v_true {
	background-color: #dfd;
}

.gtSign {
	padding: 3px 0px 3px 0px;
	width: 15px;
	height: 20px;
	margin-top: 15px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	font-size: 1em;
	float: left;
}

#v_preload {
	height: 30px;
	font-weight: bold;
	font-size: 1.2em;
	float: left;
	padding: 10px 10px 10px 10px;
}

#setVersionInfo {
	clear: both;
	padding: 10px;
}

#exportDiv {
	position: absolute;
	clear: both;
	width: 60%;
	background-color: #fff;
	border-radius: 7px;
	border: 1px solid #ccc;
	border-top: 0;
	float: none;
	padding: 10px;
	box-shadow: 1px 1px 10px #999;
	top: 30%;
	left: 50%;
	min-width:400px;
	margin-top: -10%; /*set to a negative number 1/2 of your height*/
	margin-left: -30%; /*set to a negative number 1/2 of your width*/
	z-index: 100;
}

#ll_exp_sel {
	margin-top: 10px;
	margin-bottom: 10px;
}

.selected {
	position: relative;
	float: left;
	margin-left: 20px;
	background-color: #fff;
	padding: 10px;
}

.bandL {
	float: left;
}

.ex_close {
	background-image: url("../img/close.png");
	background-position: 0px 0px;
	width: 10px;
	height: 10px;
	float: right;
	cursor: pointer;
}

.ex_close:HOVER {
	background-image: url("../img/close_hover.png");
	cursor: pointer;
}

.bt_inactiv {
	background-color: #efefef;
	border-radius: 5px;
	box-shadow: 0 1px 4px #aaa;
	min-width: 60px;
	color: #ddd;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
	padding: 6px 10px 6px 10px;
	margin-top: 15px;
	display: inline-block;
	font-size: 0.9em;
	text-align: center;
	border: 0;
}

.bt_inactiv:hover {
	background-color: #efefef;
	color: #ddd;
	text-shadow: 0 1px 0 #222;
	box-shadow: 0 1px 7px #000;
}


.hrPadding {
	padding: 20px 10px 0px 10px;
}

div.table {
	width: 99%;	
}

div.tbHRow {
	width: 98%;
	height:100%;
	float: left;
	padding: 5px 0px 5px 0px;
	border-bottom: 1px solid #ccc;
	background-color: #69c;
	color: #fff;
	text-shadow: 0 1px 0 #333;
	text-align: center;	
}

div.tbHCell {
	float: left;
	width: 10%;	
}

div.tbRow {
	float: left;
	width: 99%;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	vertical-align: middle;
}
div.tbRow:hover {
	background-color:#fffff0;
}

div.tbCell {
	float: left;		
	vertical-align: middle;		
	padding-left:5px;  
}
div.tbCell p{
	
}
#newPassword {
	position: absolute;
	clear: both;
	width: 40%;
	background-color: #fff;
	border-radius: 7px;
	border: 1px solid #ccc;
	border-top: 0;
	float: none;
	padding: 10px;
	box-shadow: 1px 1px 10px #999;
	top: 20%;
	left: 50%;
	margin-top: -10%; /*set to a negative number 1/2 of your height*/
	margin-left: -20%; /*set to a negative number 1/2 of your width*/
	z-index: 100;
}
div.info{
	font-size:xx-small;
	color: #777
}
.shareF{
	display: inline-block;
}
.sharePName, #shareWithTitle{
	font-size: 0.8em;	
	padding: 0px 3px 0px 3px;
}
.sharePName{
	font-weight:bold;	
}
.sharePID{
	display: none;
}
div#shareWith{
	clear: both;
	display: block;	
}