Source: ser
Section: net
Priority: optional
Maintainer: Andrei Pelinescu-Onciul <andrei@iptel.org>
Build-Depends: debhelper (>= 4), libmysqlclient-dev | libmysqlclient15-dev | libmysqlclient14-dev | libmysqlclient12-dev, libexpat1-dev, libradius-ng-dev | libradiusclient-ng-dev, libxml2-dev, libpq-dev | postgresql-dev, libcurl3-dev, libssl-dev, libreadline5-dev, libpcre3-dev, bison, flex, docbook2x,
 xsltproc, lynx
Standards-Version: 3.5.2

Package: ser
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Suggests: ser-mysql-modules, ser-jabber-module, ser-cpl-module, ser-presence-modules, ser-radius-modules
Conflicts: ser-mysql-module (<< ${Source-Version}), ser-jabber-module (<< ${Source-Version}), ser-radius-modules (<< ${Source-Version}), ser-cpl-module (<< ${Source-Version}), ser-presence-modules (<< ${Source-Version}), ser-postgres-module (<< ${Source-Version}), ser-acc-db-module (<< ${Source-Version}), ser-acc-radius-module (<< ${Source-Version})
Description: Sip Express Router, very fast and configurable SIP proxy
 ser or SIP Express Router is a very fast and flexible SIP (RFC3621)
 proxy server. Written entirely in C, ser can handle thousands calls
 per second even on low-budget hardware. C Shell like scripting language
 provides full control over the server's behaviour. It's modular
 architecture allows only required functionality to be loaded.
 Currently the following modules are available: Digest Authentication,
 CPL scripts, Instant Messaging, MySQL support, Presence Agent, Radius
 Authentication, Record Routing, SMS Gateway, Jabber Gateway, Transaction 
 Module, Registrar and User Location.

Package: ser-db-modules
Architecture: any
Depends: ${shlibs:Depends}, ser (= ${Source-Version})
Suggests: ser-mysql-module, ser-postgres-module
Conflicts: ser-mysql-modules
Description: contains generic DB support and modules using a DB
 These modules will enable usage of various DB related functionality.
 Note that only basic DB drivers are included in this package (db_text and
 db_flatstore). You probably want to install a more advanced db driver, like
 the ones provided in ser-mysql-modules or ser-postgres-module packages.

Package: ser-mysql-module
Architecture: any
Depends: ${shlibs:Depends}, ser (= ${Source-Version}), ser-db-modules (= ${Source-Version})
Description: contains the MySQL database driver module
 This package will enable using a MySQL database with ser.

#Package: ser-jabber-module
#Architecture: any
#Depends: ${shlibs:Depends}, ser (= ${Source-Version})
#Description: contains the Jabber module (SIP-Jabber message translation)
# This has been split out of the main ser package, so that ser will not
# depend upon libexpat. This module will enable you to use ser to translate
# SIP messages into Jabber messages.

#Package: ser-cpl-module
#Architecture: any
#Depends: ${shlibs:Depends}, ser (= ${Source-Version})
#Description: contains the cpl-c module (CPL support)
# This has been split out of the main ser package, so that ser will not
# depend upon libxml2.

#Package: ser-presence-modules
#Architecture: any
#Depends: ${shlibs:Depends}, ser (= ${Source-Version})
#Description: contains the SIMPLE based presence support (Presence server)
# This module contains modules and libraries needed to implement SIMPLE
# based presence support in SER

Package: ser-radius-modules
Architecture: any
Depends: ${shlibs:Depends}, ser (= ${Source-Version})
Description: contains the ser RADIUS modules 
 This has been split out of the main ser package, so that ser will not
 depend upon libradius1. This modules will enable you to authenticate, 
 do group membership checking or check the messages uris using RADIUS.

Package: ser-postgres-module
Architecture: any
Depends: ${shlibs:Depends}, ser (= ${Source-Version}), ser-db-modules (= ${Source-Version})
Description: contains the PostgreSQL database driver module
 This package will enable using a PostgreSQL database with ser.

Package: ser-tls-module
Architecture: any
Depends: ${shlibs:Depends}, ser (= ${Source-Version})
Description: contains the TLS ser transport module
 This has been split out of the main ser package, so that ser will not
 depend on openssl. This module will enable you to use the TLS transport.

Package: ser-xmlrpc-module
Architecture: any
Depends: ${shlibs:Depends}, ser (= ${Source-Version})
Description: contains the XML-RPC based interface to SER
 This module provides XML-RPC administrative interface to SER. The
 interface can be used to change various configuration options of
 SER at runtime. Other applications, such as serctl command line
 tools and SERWeb use XML-RPC interface to communicate with SER

Package: ser-oob
Architecture: any
Depends: ser, ser-mysql-modules, ser-xmlrpc-module, serctl
Suggests: rttpproxy, logrotate, ngrep, ntp
Description: Sip Express Router - package for "out of the box" installation
 This package conatins advanced configuration file for ser - SIP Express Router
 and depends on ser and all needed ser modules. It can be used for easy installation 
 of ser "out of the box".

Package: ser-nth
Architecture: any
Depends: screen, gdb, binutils, gcc, bison, flex, ngrep, tcpdump, iftop, lsof, psmisc, vim, bvi, most, serctl, mc, sipsak
Description: Sip Express Router - package for "nice to have" installation
 This is a meta-package for easy installation various useful tools that may be
 handy on server with SER installed.

Package: ser-ai1
Architecture: any
Depends: ser-oob, mysql-server, rtpproxy, mystun, sipsak, tcpdump, ngrep, iftop, serweb, sems
Suggests: ser-nth
Description: Sip Express Router - package for "all in one" installation
 This is a meta-package for easy installation of complete server running ser - SIP Express
 Router, rtpproxy -  RTP relay, mystun - STUN server and mysql server.

