#!/bin/sh -e

. /usr/share/debconf/confmodule

# configure ?
db_input medium ser/config || true
db_go

db_get ser/config

if [ "$RET" = "false" ]; then
  exit 0
fi

db_input medium ser/USER || true
db_go

db_input medium ser/GROUP || true
db_go

db_input medium ser/WORKDIR || true
db_go

db_input medium ser/KERNEL_CORE_PID || true
db_go

db_input medium ser/MEMORY || true
db_go

