[Unit]
Description=Kamailio (OpenSER) - the Open Source SIP Server
Documentation=man:kamailio(8) https://www.kamailio.org/
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
WorkingDirectory=/run/kamailio
Environment='CFGFILE=/etc/kamailio/kamailio.cfg'
Environment='SHM_MEMORY=64'
Environment='PKG_MEMORY=8'
EnvironmentFile=/etc/sysconfig/kamailio
# PIDFile requires a full absolute path
PIDFile=/run/kamailio/kamailio.pid
# ExecStart requires a full absolute path
ExecStart=/usr/sbin/kamailio -P /run/kamailio/kamailio.pid -f $CFGFILE -m $SHM_MEMORY -M $PKG_MEMORY
ExecStopPost=/usr/bin/rm -f /run/kamailio/kamailio.pid
Restart=on-failure
User=kamailio
Group=daemon
; For each TCP or TLS endpoint connection is requred file descriptor
LimitNOFILE=99999


[Install]
WantedBy=multi-user.target
